Music/
Downloads/
Library/
Pictures/
Public/
Movies/
Documents/
Desktop/
Applications/
Creative Cloud Files/
VirtualBox VMs/
.ssh/
.oh-my-zsh/
.node-gyp/
.mysqlsh/
.local/
.minikube/
.multirust
.nvm/
.profile
.rbenv/
.rustup/
.subversion/
.tmux/
.vagrant.d/
.viminfo
.cache/
.cargo/
.config/
.docker/
.dotfiles/
.fzf.bash
.fzf.zsh
.fzf/
.gem/
.DS_Store
.bash_sessions/
.bashrc
.bundle/
.kube/
.zprofile
.zsh-update
.zsh_history
.CFUserTextEncoding
.NERDTreeBookmarks
.bash_history
.yarnrc
.zcompdump*
workspace/
.ICEauthority
.bash_logout
.bash_profile
.cinnamon/
.esd_auth
.face
.gnupg/
.mozilla/
.pki/
.python_history
.themes/
.thumbnails/
.yarn/
.zsh/
.Trash/
.npm/
.pry_history
.lesshst
.netrc
.ngrok2/
.skylight
.babel.json
.emacs.d/auto-save-list
.emacs.d/elpa
